<!-- views/partials/head.ejs -->
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="<%= description %>" />
<meta
  name="keywords"
  content="Hot Beans, Deniss Rezanovics, HTML,CSS,XML,JavaScript, Graphic Design, Programming, Web Design, Studio, Build a Website"
/>
<meta
  name="google-site-verification"
  content="52mVsFaVd3Xd5cHrvkHFImo93OLRrvtYpTQLPtjXpv8"
/>
<!--<meta name="robots" content="index, follow" />-->
<meta name="author" content="Hot Beans" />
<meta name="theme-color" content="#2196f3" />

<meta
  property="og:url"
  content="https://www.hot-beans.herokuapp.com/<%= page %>"
/>
<meta property="og:type" content="website" />
<meta property="og:title" content="<%= title %>" />
<meta property="og:description" content="<% description %>" />
<meta
  property="og:image"
  content="https://www.google.com/imgres?imgurl=https%3A%2F%2Focc-0-531-2219.1.nflxso.net%2Fdnm%2Fapi%2Fv6%2FE8vDc_W8CLv7-yMQu8KMEC7Rrr8%2FAAAABceL_FxRrEg1Jm2LyiYugCJwBkJ2v4GmCBWQ_JNLBXCu1tpO1CMoOxGk9R74PCzrCR0FLIrjdgZlyIHnZEuiHArY6C9G.jpg%3Fr%3Da82&imgrefurl=https%3A%2F%2Fwww.netflix.com%2Fpt%2Ftitle%2F80221498&tbnid=rUwwUyllnYko8M&vet=12ahUKEwjcpt-MmPDoAhXDTBQKHe9CBk4QMygAegUIARCQAQ..i&docid=R5JJE8EF_Z4zGM&w=1280&h=720&q=mountain&ved=2ahUKEwjcpt-MmPDoAhXDTBQKHe9CBk4QMygAegUIARCQAQ"
/>

<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="<%= description %>" />
<meta name="twitter:title" content="<%= title %>" />

<title>Hot Beans | <%= title %></title>
<link rel="apple-touch-icon" href="/images/bean.svg" />

<link rel="profile" href="https://gmpg.org/xfn/11" />
<link rel="canonical" href="https://hot-beans.herokuapp.com/" />

<link rel="shortcut icon" href="/images/bean.svg" type="image/x-icon" />

<link
  href="https://fonts.googleapis.com/css?family=Open+Sans"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css?family=Lato%7CRubik&display=swap"
  rel="stylesheet"
/>

<link
  href="https://fonts.googleapis.com/css?family=Quicksand"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="/stylesheets/burger.css" />
<link rel="stylesheet" href="/stylesheets/intelTelInput.css" />
<link rel="stylesheet" href="/stylesheets/normalize.css" />
